{% extends "account/base.html" %}

{% load static %}
{% load account %}

{% block title %}パスワードリセット{% endblock %}

{% block head %}
<link href="{% static 'form_wrapper.css' %}" rel="stylesheet">
{% endblock head %}

{% block contents %}

<div class="container">
    <div class="form_wrapper">
        <h1>パスワードリセット</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードリセットメールを送信しました。</p>
        {% endblock %}
    </div>

</div>
