{% extends "account/base.html" %}

{% load static %}
{% load widget_tweaks %}
{% load account %}
{% load i18n %}


{% block title %}パスワードリセット{% endblock %}

{% block head %}
<link href="{% static 'form_wrapper.css' %}" rel="stylesheet">
{% endblock head %}

{% block contents %}
<div class="container">
    <div class="form_wrapper">
        <h1>パスワードリセット</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>パスワードをお忘れですか？パスワードをリセットするために、メールアドレスを入力してください。
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field.label_tag }}

            {{ field|add_class:'form-control' }}
            {% if field.help_text %}
            <span class="helptext">{{ field.help_text }}</span>
            {% endif %}
            {% if field.errors %}
            <div class="alert alert-warning">
                {{ field.errors }}
            </div>
            {% else %}
            {{ field.errors }}
            {% endif %}

            {% endfor %}
            <br>
            <input class="btn btn-lg btn-primary btn-lg" type="submit" value="パスワードをリセット" />
        </form>


        {% endblock %}
    </div>

</div>
