{% extends 'base.html' %}
{% load static %}

{% block title %}記事作成{% endblock title %}

{% block head %}

<link href="{% static 'create.css' %}" rel="stylesheet">

{% endblock head %}

{% block contents %}

<div class="container">

    <form class="create" name="create" id="create" method="POST" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <div id="editor"></div>

    </form>

    <button class="btn btn-lg btn-primary" onclick="OnButtonClick();">作成</button>


</div>

<!-- <p>//テキストエディタを表示する</p> -->

{% comment %} <p>//必要なプラグインを読み込む</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
{% comment %} <p>//ヘッダー要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
{% comment %} <p>//リスト要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
{% comment %} <p>//チェックリスト要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
{% comment %} <p>//引用要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script>
{% comment %} <p>//コード要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script>
{% comment %} <p>//テーブル要素</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
{% comment %} <p>画像</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
{% comment %} <p>マーカー</p> {% endcomment %}

<script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
{% comment %} <p>埋め込み</p> {% endcomment %}


{% comment %} <p>//Editor.jsの本体ライブラリを読み込む</p> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

<script src="{% static 'create.js' %}"></script>

{% endblock contents %}
